artifacts
cache
contracts.json
coverage*
deployments/localhost
deployments/*/solcInputs/*.json
dist
generated-src
node_modules
src/proto/stateserver*
src/types
test/*/
.vscode
.node*
*.bin
*.abi
/out
build
.env
.venv
offchain/**/target
.DS_Store
