[submodule "grpc-interfaces"]
	path = grpc-interfaces
	url = ../grpc-interfaces.git
[submodule "onchain/rollups-arbitration/lib/forge-std"]
	path = onchain/rollups-arbitration/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "onchain/rollups-arbitration/lib/solidity-util"]
	path = onchain/rollups-arbitration/lib/solidity-util
	url = https://github.com/cartesi/solidity-util
[submodule "onchain/rollups/lib/forge-std"]
	path = onchain/rollups/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
