/artifacts
cache
forge-cache
contracts.json
coverage*
deployments/localhost
deployments/*/solcInputs/*.json
dist
generated-src
node_modules
out/
src/proto/stateserver*
src/types
.vscode
.node*
.env
.DS_Store
