[package]
name = "dispatcher"
license = "Apache-2.0"
version = "0.8.0"
edition = "2021"
authors = [
  "Felipe Argento <felipe.argento@cartesi.io>",
  "Gabriel Coutinho <gabriel.coutinho@cartesi.io>",
]

[[bin]]
name = "rollups_dispatcher"
path = "src/main.rs"

[dependencies]
contracts = { path = "../contracts" }
types = { path = "../types" }
rollups-events = { path = "../rollups-events" }

state-fold = { version = "0.6", registry = "cartesi" }
state-fold-types = { version = "0.6", registry = "cartesi", features = ["ethers"] }
state-client-lib =  { version = "0.6", registry = "cartesi" }
tx-manager =  { version = "0.8", registry = "cartesi" }

anyhow = "1"
rustc-hex = "2.1"
serde = "1"
serde_json = "1"
snafu = "0.7"
structopt = "0.3"

prost = "0.11"
tonic = "0.8"

async-trait = "0.1"
axum = "0.5"
backoff = { version = "0.4", features = ["tokio"] }
futures = "0.3"
tokio = { version = "1", features = ["sync", "macros", "rt-multi-thread"] }
tokio-stream = "0.1"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
url = "2"
